*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(128, 185, 238);
}
#panel{
    height: 80%;
    width: 80%;
    border: 1px solid rgb(11, 136, 252);
    border-radius: 8px;  
    overflow: hidden; 
}
#top{
    padding: 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(75, 165, 250);
    width: 100%;
    height: 60px;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 200;
}

.box{
    background-color: rgb(207, 231, 252);
    margin: 6px;
    padding: 6px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid rgb(11, 136, 252);
}

#bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(174, 213, 250);  
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(11, 136, 252);
    cursor: pointer;
}
.bubble:hover{
    background-color: rgb(7, 69, 128);
    
}
